//Imports go first -> grab _vars and any other partials 
@import'_vars';
@import'modules/navbar';



body { 
    background-color: $main-bg;
}


    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}

